<!--<form action = "" method = "POST">
	<label for="name">Your name: </label>
    {% csrf_token %}
	<input id="name" type="text" name="name">
	<input type="submit" value="OK">
</form>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Display Images</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
		<th>Image</th>
      </tr>
    </thead>
    <tbody>
	{% for img in images %}  
      <tr>
		<td><img src="/{{ BASIC_DIR }}/{{img.png}}" width="120"/></td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>
</body>
</html>