nav ul{
    list-style-type: none;
    background-color:rgb(8, 8, 8);
    overflow: hidden;
    margin: 10px;
    padding: 0;
    text-align: center;
}
nav li {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 40px;
    border-bottom: 1px solid #393434;
}
nav a {
    text-decoration:none;
    color: rgb(245, 241, 241);
    display: block;
    text-transform: uppercase;
    padding: 4px;
    font-weight: bold;
    width: 120px;
}